<script src="https://checkout.stripe.com/checkout.js"></script>
<p id="notice"><%= notice %></p>

<div class="col-sm-7">
	<div class="panel panel-default">
	  <div class="panel-heading">
        <h3 class="panel-title">Your cart</h3>
      </div>
	  <div class="panel-body cart">
		   <% @cartItems["products"].each_with_index do |item, idx| %>
		     <div class="row col-sm-12 cartItem">
		        <div class="col-sm-4">
	               <%= image_tag item.image.url(:small) %>
	            </div>
	            <div class="col-sm-8">
	               <ul class="">
				    <li><h5><%= item.title %><h5></li>
				    <li><p>$<%=  sprintf("%.2f", (item.price)) %></p></li>
				    <li><p><%= link_to "Remove Item", product_cancel_reservation_path(product_id: item.id), class: "btn btn-xs btn-default" %></p></li>
				   </ul> 
			    </div>
			 </div>
			<% end %>
	  </div>
	  <div class="panel-footer">
	    
	  </div>
	</div>
</div>
<div class="col-sm-4">
	<div class="panel panel-default">
	  <div class="panel-heading">
        <h3 class="panel-title">Order Summary</h3>
      </div>
	  <div class="panel-body cartSummary">
	    <ul>
			<li>CART TOTAL  <span class="pull-right"><%= sprintf("%.2f", @cartItems["cartTotal"]) %></span></li>
			<li>SHIPPING    <span class="pull-right"><%= sprintf("%.2f", @cartItems["shipping"]) %></span> </li>
			<li class='total'>TOTAL <span class='state'> state: <%= select_tag :state, options_for_select(us_states), id: "statedropdown" %> </span> <span class="pull-right" id="grandTotal"> </span>
			  <input type='hidden' id='totalMaine' value='<%= sprintf("%.2f", @cartItems["grandTotalMaine"]) %>'>
			  <input type='hidden' id='totalOut'   value='<%= sprintf("%.2f", @cartItems["grandTotalOut"])   %>'>
			</li>		
	    </ul>
	    
	  </div>
	  <div class="panel-footer">
	    <div class='checkoutFoot'>
            Comming Soon! (You can try, but it's only hooked up for testing
            <button id="payWithCard" class="btn btn-info btn-md">Pay With CarD </button> 
			
			<% flash.each do |name, msg| -%>
     		 <%= content_tag :div, msg, class: name %>
   		   <% end -%>       
	    </div>
	  </div>
	</div>
</div>

