<p id="notice"><%= notice %></p>

<div class="col-sm-7">
	<div class="panel panel-default">
	  <div class="panel-heading">
        <h3 class="panel-title">Your cart</h3>
      </div>
	  <div class="panel-body cart">
		   <% getCartItems.each_with_index do |item, idx| %>
		     <div class="row col-sm-12 cartItem">
		        <div class="col-sm-4">
	               <%= image_tag item.image.url(:small) %>
	            </div>
	            <div class="col-sm-8">
	               <ul class="">
				    <li><h5><%= item.title %><h5></li>
				    <li><p>$<%=  sprintf("%.2f", (item.price)) %></p></li>
				    <li><p><%= link_to "Remove Item", product_cancel_reservation_path(product_id: item.id), class: "btn btn-xs btn-default" %></p></li>
				   </ul> 
			    </div>
			 </div>
			<% end %>
	  </div>
	  <div class="panel-footer">
	    
	  </div>
	</div>
</div>
<div class="col-sm-4">
	<div class="panel panel-default">
	  <div class="panel-heading">
        <h3 class="panel-title">Order Summary</h3>
      </div>
	  <div class="panel-body cartSummary">
	    <ul>
			<li>CART TOTAL     <span class="pull-right"><%= sprintf("%.2f",getCartTotal) %></span></li>
			<li>SHIPPING       <span class="pull-right"><%= sprintf("%.2f", getShipping) %></span> </li>
			<li>ESTIMATED TAX  <span class="pull-right"><%= sprintf("%.2f", (getTax * getCartTotal)) %></span></li>
			<li class='total'>TOTAL <span class="pull-right"><%= sprintf("%.2f", (getCartTotal + (getTax * getCartTotal) + getShipping)) %> </span></li>
	    </ul>
	    
	  </div>
	  <div class="panel-footer">
	    <div class='checkoutFoot'>
                        Comming Soon! (You can try, but it's only hooked up for testing)
			<%= form_tag({controller: "cartitems", action: "charge"}) do %>
			  <script
			    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
			    data-key="pk_test_VfHP98Jj6JcxsM3JGHjvYrne"
			    data-amount="<%= getCartTotal * 100 %>"
			    data-name="Eliza Hugh"
			    data-billing-address=""
			    data-shipping-address=""
			    data-description="Purchase of <%= getCartItems.size %> items."
			    data-image="/ehLogo.png"
			    >
			  </script>
			<% end %>	
			<% flash.each do |name, msg| -%>
     		 <%= content_tag :div, msg, class: name %>
   		   <% end -%>       
	    </div>
	  </div>
	</div>
</div>

