<br>
<div id="class="col-sm-12">
    <div class="row alert alert-info">
      <h4>
      <span class="glyphicon glyphicon-wrench"></span> This site is under lots of construction. <br>
      <span class="glyphicon glyphicon-phone-alt"></span> If you see something you like, please call: 207.803.8052<br>
      <span class="glyphicon glyphicon-heart"></span> Thank You!
      </h4>
    </div>
    <div class="col-sm-6">
        <div id="myCarousel" class="carousel slide">
            <ol class="carousel-indicators">
	    	    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	    	    <li data-target="#myCarousel" data-slide-to="1"></li>
	    	    <li data-target="#myCarousel" data-slide-to="2"></li>
	    	    <li data-target="#myCarousel" data-slide-to="3"></li>
	    	    <li data-target="#myCarousel" data-slide-to="4"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
                <% @products.each_with_index do |prod, idx| %>
               	<div class='<%= idx == 0 ? "active item" : "item" %> carousel-img' >
               	    <%= link_to (image_tag prod.image.url(:large), :class => "img-rounded"), product_path(prod) %>
               	</div>
           	    <% end %>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
    </div>
    
    <% cache do %>
    <div id="specials" class="col-sm-5">
        <% @specials.each do |product| %>
        <div class="col-sm-12">
	            <div class="alert" <%= product.getStyle %>>
	              <h4><%= product.title %></h4>
	              <p> <%= product.description %></p>
	            </div>
        </div>
	    <% end %>	
    </div>
    <% end %>
    
</div>
