  <%= csrf_meta_tag %> 
  <script>
    $.ajaxSetup({
      headers: {
        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
      }
    });
  </script>
  <div class="col-sm-12">
  <a href="/"><div class="head"> <%= image_tag("ehLogo.png", :size => "270x90") %> </div></a>
  <nav class="navbar navbar-default" role="navigation">
      <div class="container">
		     <ul class="nav navbar-nav">
			      <li class=""><a href="/"> <span class="glyphicon glyphicon-home"></a> </span> </li>
			      <% categories.each do |c| %>
			        <li class=""><a href="/products?&cat=<%= c.id %>"><%= c.name %></a></li>
			      <% end %>
			</ul>
			<ul class="nav navbar-nav navbar-right">
			        <% if current_user != nil %> 
			           <% if is_admin %>
			               <li><a href="/admin"> Admin Page </a></li>
			               <li><a href="/authentication/logout"> Logout </a> </li>
			           <% else %>
			               <li><div class='loggedIn'><label>Logged in as: </label> <a href="/"'><%= current_user.username %></a></div></li>
			               <li><a href="/cart"><span class="glyphicon glyphicon-shopping-cart"> </span></a></li>
			               <li><a href="/authentication/logout"> Logout </a> </li>
			           <% end %>
			        <% else %>
			           <li><a href="/users/new">Create Account</a></li>
			           <li><p class="navbar-text"> | </p></li>
			           <li><a href="/users/login">Login</a></li>
			        <% end %>
			   </ul>
	    </div>
    </nav>
 </div>

