<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <title>Template · Bootstrap</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
   
    <script>
      $(function(){
      $('.carousel').carousel({
      interval: 5500
      });

      });	
    </script>
  </head>

  <body>
    <div class="main container">
      <%= render partial: 'layouts/header' %>
	  <div id="content" class="container">
        <%= yield %>      
	  </div>
      <%= render partial: 'layouts/footer' %>
	 </div>
  </body>
</html>

